menu "Renesas Electronics Corporation Charger support"

config IDT_P9220
	tristate "idtp9220 wireless Charger"
	depends on I2C
	help
	  Say Y to include support for idtp9220 wireless Charger.
	  idtp9220 is a wireless battery charger.
	  The driver supports charger enable/disable.
	  The driver reports the charger status via the power supply framework.
	  The driver controls idtp9220 via I2C and
	  supports device-tree interface.

config IDT_P9418
	tristate "idtp9418 wireless Charger"
	depends on I2C
	help
	  Say Y to include support for idtp9418 wireless Charger.
	  idtp9418 is a wireless battery charger.
	  The driver supports charger enable/disable.
	  The driver reports the charger status via the power supply framework.
	  The driver controls idtp9418 via I2C and
	  supports device-tree interface.

endmenu
